[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
altair = "*"
spacy = "*"
gputil = "*"
jinja2 = "*"
orm-sqlite = "*"
pretty-errors = "*"
fightingcv-attention = "*"
python-dotenv = "*"
pyyaml = "*"
loguru = "*"
attrdict = "*"
pytorch-lightning = "*"
torchvision = "*"
omegaconf = "*"
pudb = "*"
einops = "*"

[dev-packages]

[requires]
python_version = "3.8"
